<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="w" parallel="classes" thread-count="2">
        <packages>
            <package name="com.github.neji69"></package>
        </packages>
    </test>
</suite>